# .gitattributes
*.js filter=git-crypt diff=git-crypt
*.sol filter=git-crypt diff=git-crypt
*.json filter=git-crypt diff=git-crypt
/src/** filter=git-crypt diff=git-crypt
/docs/** filter=git-crypt diff=git-crypt

# Files that should NOT be encrypted
.gitattributes !filter !diff
README.md !filter !diff
LICENSE !filter !diff
